@import "palette.less";

@monospace-font:    'Inconsolata'      , monospace  ;
@proportional-font: 'Roboto Condensed' , sans-serif ;

body
{
    background-color: @dark-grey;
    margin: 15px 15px 15px 15px;
}

*
{
    color: lighten(@light-grey, 40%);
    font-family: @proportional-font;
}

pre,
code
{
    font-family: @monospace-font;
}

button
{
    background-color: darken(@light-grey, 10%);
    border: 2px solid lighten(@light-grey, 10%);
}


@rounded-padding: 4px;

.rounded()
{
    border-radius: 8px;
    padding: @rounded-padding;
}

.flex-container
{
    display: flex;
    flex-flow: row wrap;
}


.controls > .label
{
    font-family: @proportional-font;
}

.controls > div
{
    padding: 5px 0 5px 0;
    border-bottom: 2px double darken(@light-grey, 5%);
    text-align: center;
    font-family: @monospace-font;
}

@app-space: 10px;

@controls-vertical-width: 250px;
@controls-horizontal-height: 150px;

#controls-vertical
{
    .rounded();
    
    margin-left: @app-space;
    width: @controls-vertical-width;
    height: @webgl-height;
    background-color: @light-grey;
}

#controls-horizontal
{
    .rounded();

    margin-top: @app-space;
    width: calc(@webgl-width + @controls-vertical-width + @app-space
                + 2 * @rounded-padding);
    height: @controls-horizontal-height;
    background-color: @light-grey;
}


@webgl-width:  500px;
@webgl-height: 500px;

#g-webgl
{
    width: @webgl-width;
    height: @webgl-height;
}

#webgl-mask
{
    .rounded();

    width: @webgl-width;
    height: @webgl-height;
    background-color: @black;
    overflow: hidden;
}
