@import "palette.less";

@monospace-font:    'Inconsolata'      , monospace  ;
@proportional-font: 'Roboto Condensed' , sans-serif ;

body
{
    background-color: @dark-grey;
    margin: 15px 15px 15px 15px;
}

*
{
    color: @white;
    font-family: @proportional-font;
}

pre,
code
{
    font-family: @monospace-font;
}


@rounded-padding: 4px;

.rounded() {
    border-radius: 8px;
    padding: @rounded-padding;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}


@app-space: 10px;

@controls-vertical-width: 300px;
@controls-horizontal-height: 200px;

#controls-vertical
{
    .rounded();
    
    margin-left: @app-space;
    width: @controls-vertical-width;
    height: @webgl-height;
    background-color: @light-grey;
}

#controls-horizontal
{
    .rounded();

    margin-top: @app-space;
    width: calc(@webgl-width + @controls-vertical-width + @app-space
                + 2 * @rounded-padding);
    height: @controls-horizontal-height;
    background-color: @light-grey;
}


@webgl-width:  500px;
@webgl-height: 500px;

#g-webgl
{
    width: @webgl-width;
    height: @webgl-height;
}

#webgl-mask
{
    .rounded();

    width: @webgl-width;
    height: @webgl-height;
    background-color: @black;
    overflow: hidden;
}
