@import "palette.less";

@monospace-font:    'Inconsolata'      , monospace  ;
@proportional-font: 'Roboto Condensed' , sans-serif ;

body
{
    margin: 15px 15px 15px 15px;
    background-color: @dark-grey;
}

*
{
    color: @white;
    font-family: @proportional-font;
}

pre,
code
{
    font-family: @monospace-font;
}


.rounded() {
    border-radius: 8px;
    padding: 4px 4px 4px 4px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

@app-width: 99%;
@app-height: 95%;
@app-space: 10px;


@controls-vertical-width: 300px;
@controls-horizontal-height: 200px;

#controls-vertical
{
    .rounded();
    
    margin-right: @app-space;
    width: calc(@controls-vertical-width - @app-space);
    // height: calc(~'@{app-height} - @{controls-horizontal-height}');
    background-color: @light-grey;
}

#controls-horizontal
{
    .rounded();

    margin-bottom: @app-space;
    width: @app-width;
    height: calc(@controls-horizontal-height - @app-space);
    background-color: @light-grey;
}


@webgl-width:  calc(~'@{app-width} - @{app-space} - @{controls-vertical-width}');
@webgl-height: calc(~'@{app-height} - @{app-space} - @{controls-horizontal-height}');

#g-webgl
{
    width: @webgl-width;
    height: @webgl-height;
}

#webgl-mask
{
    .rounded();

    width: @webgl-width;
    height: @webgl-height;
    background-color: @black;
    overflow: hidden;
}
