@white:      #fdfdfd;
@red:        rgb(100%,  40%,  40%);
@green:      rgb( 40%, 100%,  40%);
@blue:       rgb( 40%,  40%, 100%);
@black:      #000;
@dark-grey:  #212121;
@light-grey: #515151;

#g-colors {
    --red: @red;
    --green: @green;
    --blue: @blue;
}
