body {
    margin: 15px 15px 15px 15px;
    background-color: #fdfdfd;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}

pre, code {
    font-family: 'Inconsolata', monospace;
}


#canvas-mask {
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    background-color: #000000;
    overflow: hidden;
}
